[submodule "librelane"]
	path = librelane
	url = https://github.com/librelane/librelane
	branch = leo/padring
[submodule "pdk"]
	path = pdk
	url = https://github.com/mole99/IHP-Open-PDK.git
	branch = leo/padring
